* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color: #ffffff;
  --secondary-color: #000;
  --button-color: #fff;
  --card-color: #fff;
  --checkbox-color: #3f3f3f;
}

[data-theme="dark"] {
  --background-color: #212047;
  --secondary-color: #c5c3f8;
  --button-color: #635fd6;
  --card-color: #42408f;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 15rem;
  position: absolute;
  background-color: var(--card-color);
  /* hidden for development purposes needs to go in and out */
  display: none;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectcard {
  display: flex;
  justify-content: space-between;
}

.activeproject {
  color: rgb(151, 150, 150);
  font-size: 110%;
  font-weight: bold;
}

.current {
  font-size: 1.5rem;
}

.contentwrapper {
  display: flex;
}

#main-content {
  padding-top: 4.45rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  gap: .2rem;
  background-color: rgb(239, 239, 239);
}

.card {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 4rem;
  /* width: 93%; */
  padding: .6rem 1rem;
  background-color: #fff;
  /* max-height: 3rem; */
  width: 100vw;
  transition: all 0.5s ease;
  align-items: center;
  border-radius: 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

#todomaker2 {
  order: 1;
}

.rmv,
.edit {
  z-index: 10;
}

.focus {
  /* margin-left: 1rem; */
  flex-direction: column;
  position: inherit;
  justify-content: space-between;
  align-items: center;
  transition-property: height, width;
  height: 13rem;
  transition-duration: 0.3s;
  background-color: #f7f7f7;
  border-radius: 10px;
  gap: 1rem;
  /* height: 80rem; */
  /* width: 80vw; */
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100vw;
  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.icon {
  height: 2rem;
}

.odin-tasklist {
  font-size: 1.6rem;
}

.notecontentwrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 98%;
  max-width: 98%;


}

.description {
  width: 100vw;
  padding: .2rem 1rem;
  height: 10rem;
  overflow: auto;
}

.buttonbox {
  display: flex; 
  width: 100vw;
  padding: .2rem 3rem;
  justify-content: space-between;
}

#todomaker2 {
  margin: 1rem;
  background-color: none;
  border: none;
  font-size: larger;
  width: fill;
}

.rmv {
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  opacity: .5;
  border: none;
}

@media screen and (max-width: 600px) {
  .contentwrapper {
    display: flex;
    flex-direction: column;
  }
}
